<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  Max <span class="font-normal">Otk<span class="text-primary text-3xl"></span></span><span
    class="text-emerald-400 font-bold animate-blink-fast ml-1">_</span
  >
</span>
